<h1>Listing videos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Url</th>
      <th>Scores</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= link_to video.name, video %></td>
        <td><%= truncate(strip_tags(video.description), length: 80) %></td>
        <td><%= video.url %></td>
        <td><%= video.scores %></td>
        <!-- <td><%= link_to 'Edit', edit_video_path(video) %></td> -->
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_video_path, class: "btn btn-primary" %>