<p id="notice"><%= notice %></p>

<h3>Name: <%= @video.name %></h3>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
  <div id="myElement">Loading the player...</div><br>
  <table class="table">
    <thead>
      <tr>
        <th>Average scores</th>
        <th>Scores Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @video.scores %></td>
        <td><%= @video.scores_times %></td>
      </tr>
    </tbody>
  </table>

  <%= link_to :Download, @video.url, class: "btn btn-info" %>

  <script type="text/javascript">
    jwplayer("myElement").setup({
      file: 
          '<%= ENV["cf_stream_rul"] %>cfx/st/<%= @video.name %>',
      height: 360,
      width: 640
    });
  </script>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
